.search-placeholder::placeholder {
  color: #999;
  opacity: 0.7;
}

.search-placeholder {
  color: white !important;
}

.search-placeholder:focus {
  background-color: #1a1a1a !important;
  color: white !important;
  border-color: #495057 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}
